html, body, #app {
  height: 100%;
}

.title, .button {
  width: 25%;
  margin: auto auto;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

#board {
  height: 500px;
  margin: auto auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.square {
  flex-grow: 0;
  height: 30%;
  width: 30%;
  display: inline-block;
  text-align: center;
  font-size: 60px;
  cursor: pointer;
}

#square0, #square1, #square2, #square3, #square4, #square5 {
  border-right: solid thick black;
}

#square0, #square1, #square3, #square4, #square6, #square7 {
  border-bottom: solid thick black;
}