<!DOCTYPE html>
<html ng-app="TicTacToe">
  <head>
    <title>TicTacToe - Angular</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>
    <div ng-controller="BoardController as board">
      <div class="container">
        <div class="title">Tic-Tac-Toe</div>
        <form class="button">
          <input type="Button" value="Reset" ng-click="board.resetGrid()"/>
        </form>
        <span class="current">Current Player: {{board.next}}</span>
        <div id='board'>
          <div class='square' ng-repeat="s in board.squares track by $index" ng-attr-id="{{'square' + $index}}" ng-click="board.handleTurn($index)">
            {{s}}
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/winner.js"></script>
  </body>
</html>
